# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# --- Entornos virtuales ---
.venv/
venv/
env/

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb~  

# --- Logs y temporales ---
*.log
*.tmp
*.swp
.DS_Store

# --- IDEs y editores ---
# PyCharm / IntelliJ
.idea/
# VS Code
.vscode/
# Otros
*.sublime-workspace
*.sublime-project

# --- Datos ---
data/*
!data/.gitkeep

# --- Reportes ---
report/*
!report/.gitkeep